/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #101010;
    padding: 10px 20px;
    height: 100px;
    width: 100%;
  }
  
  /* Logo section */
  .navbar__logo img {
    height: 40px;
  }
  
  /* Login button styling */
  .navbar__login .login-btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  /* Login button styling */
    .login {
    margin-left: auto; /* Align login button to the right */
  }
  
  .loginBtn {
    background-color: #777; /* Change to theme color */
    color: white; /* White text for contrast */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add some border radius for aesthetics */
    padding: 10px 20px; /* Add padding for button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .loginBtn:hover {
    background-color: #666; /* Slightly lighter color on hover */
  }